<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.master.henrik.smartcard">

    <uses-permission android:name="android.permission.NFC" />

    <!-- WTF IS THIS (Down) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="com.secureflashcard.openmobileapi.SMARTCARD" />

    <!-- WTF IS THIS (Up) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayloadActivity"
            android:label="@string/title_activity_payload" />

        <!-- WTF IS THIS (Down) -->

        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <uses-library
            android:name="android.hardware.bluetooth_le"
            android:required="false" />

        <activity
            android:name="com.gemalto.idgo800.internal.UIActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@style/idgo800_TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gemalto.idgo800.internal.SecureKeypadFragment"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@style/idgo800_TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Activity to detect NFC tag -->
        <activity
            android:name="com.gemalto.idgo800.internal.TagActivity"
            android:alwaysRetainTaskState="true"
            android:excludeFromRecents="true"
            android:theme="@style/idgo800_TransparentTheme">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- *************************************************************** -->
        <!-- Readers discovery service -->
        <!-- *************************************************************** -->
        <service
            android:name="com.gemalto.idgo800.GMMDiscoveryService"
            android:exported="false"
            android:label="GMMDiscoveryService" />
        <!-- *************************************************************** -->
        <!-- Meta data about the subclass of discovery service -->
        <!-- *************************************************************** -->
        <meta-data
            android:name="com.gemalto.gmm.android.actions.DISCOVERY_SERVICE"
            android:value="com.gemalto.idgo800.GMMDiscoveryService" />

        <!-- WTF IS THIS (Up) -->
        <activity android:name=".CryptoActivity" />
        <activity android:name=".AndroidKeysActivity" />
        <activity android:name=".BindingActivity"></activity>
    </application>

</manifest>
